body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	/* background: #7abecc !important; */
}
/* .container-fluid{
	height: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
} */
.centerContent{
	position: absolute;
	top: 50%;
	left: 35%;
	margin: -100px 0 0 -100px;
}
.nav__left{
	display: flex !important;
	flex-direction: row !important;
	justify-content: flex-end !important;
	align-items: center !important;
}

.registercenterContent{
	position: absolute;
    top: 20%;
    left: 10%;
    margin: -100px 0 0 -100px;
}
.logo__size{
	font-size: 18px;
	font-weight: bold;
}

.logincenterContent{
	position: absolute;
    top: 16%;
    left: 15%;
    margin: -100px 0 0 -100px;
}
.nav__backgroung{
	background-color: #0b132b;
	color: #fff;
}
.nav-link{
	color: #fff!important;
}
.fas.fa-bars{
	color: #fff;
}
.navbar-brand{
	color: #fff!important;
}
.user_card {
	width: 350px;
	margin-top: auto;
	margin-bottom: auto;
	background: #5bc0be;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;

}

.form_container {
	margin-top: 20px;
}

#form-title{
	color: #fff;

}

.login_btn {
	width: 100%;
	background: #3a506b!important;
	color: white !important;
}
.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.login_container {
	padding: 0 2rem;
}
.input-group-text {
	background: #f7ba5b !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.create-invoice{
	padding: 20px 30px;
    font-weight: bold;
	color: #000;
	font-size: 20px;
}
.below-text{
	font-weight: bold;
	color: #000;
	font-size: 20px;
}
.content-container img{
	max-width: 350px;
}
.content-container p{
	font-weight: bolder;
	font-size: 20px;
}
#messages{
	background-color: grey;
	color: #fff;
	padding: 10px;
	margin-top: 10px;
}

/* generate form */
.form__position{
	position: absolute;
	top:40px
}

body{
	background-color: #f9f9f9!important;
  }
  .addFile{
  opacity: 1e-05;
  background: #000;
  }
  .invoice-sidebar h3{
	font-size: 12px;
	text-transform: uppercase;
	border-bottom: 1px solid #000;
	padding-bottom: 4px;
	font-weight: bold;
  }
  .invoice-sidebar .btn-outline-secondary{
	width: 100%;
	text-align: center;
	margin-top: 12px;
	display: flex;
	justify-content: center;
	font-size: 12px;
  }
  .btn-outline-secondary:hover{
	  background-color: #3a506b !important;
  }
  .invoice-sidebar .btn-secondary{
	width: 100%;
	text-align: center;
	margin-top: 12px;
	justify-content: center;
	font-size: 12px;
  }
  .outer-circle{
	border: 1px solid #ccc;
	width: 30px;
	height: 30px;
	border-radius: 4px;
  }
  .color-section h3{
	font-size: 12px;
	text-transform: uppercase;
	border-bottom: 1px solid #000;
	padding-bottom: 4px;
	font-weight: bold;
  
  }
  .color-section ul{
  list-style-type: none;
  padding-left: 0;
  }
  .color-section ul li{
	display: inline-block;}
  .form-control{
	font-size: 12px!important;
  }
  
  table td{
	border-top: none!important;
	vertical-align: sub!important;
  }
  table td:first-child{
  padding-left: 0;
  }
  table td .btn-primary{
	width: 100%;
	background-color: white;
	border: 1px solid #ccc;
	color: #000;
	text-align: left;
	font-size: 12px;
  }
  .bgLight{
	background-color: rgb(51, 51, 51);
  }
  .light-brown{
	background-color: rgb(85, 85, 85);
  }
  .colorBlue{
	background-color: rgb(69, 90, 100);
  }
  .colorBrown{
	background-color: rgb(93, 64, 55);
  }
  .colorRed{
	background-color: rgb(198, 40, 40);
  }
  
  .colorPink{
	background-color: rgb(216, 27, 96);
  }
  .colorPurple{
	background-color: rgb(123, 31, 162);
  }
  .darkPurple{
	background-color: rgb(69, 39, 160);
  }
  .darkBlue{
	background-color: rgb(40, 53, 147);
  }
  .indigo{
	background-color: rgb(21, 101, 192);
  }
  .darkIndigo{
	background-color: rgb(2, 119, 189);
  }
  .darkGreen{
	background-color: rgb(0, 105, 92);
  }
  .SlevGreen{
	background-color: rgb(46, 125, 50);
  }
  .lightGreen{
	background-color: rgb(0, 105, 92);
  }
  table label{
	font-size:13px;
	color: #454545;
	font-weight: bold;
  }
  .invoice-action{
	display: flex;
	justify-content: space-between;
  
  }
  .invoice-action .btn-outline-secondary{
	font-size: 12px;
  }
  .invoice-detail-body{
	width: 800px;
	padding: 40px;
	border: 1px solid #ccc;
	background-color: #fff;
	 box-shadow: 0 0 10px rgba(0,0,0,.2);
	 border-top: 2px solid #000;
	 margin-top: 8px;
  }
  .invoice-detail-body label{
	font-size: 12px;
  
	color:#000;
  }
  .logo-hide {
  display:none;
  }
  #file-lable{
  position: absolute;}
  .previewimg{
  display:none;
  }
  .drop-box p:hover{
  
	color: #000;
  }
  .drop-box{
	width: 200px;
	height: 80px;
	justify-content: center;
	align-items: center;
	border: 1px solid #000;
	display: flex;
	float: right;
	border-radius: 3px;
	position: relative;
  }
  .drop-box #previewImg{
  width:200px;
  height: 80px;
  }
  .drag-drop input{
  opacity: 0;
  width: 100%;
  height: 76px;
  top: 1px;}
  .drag-drop input:focus{
  width:100%;}
  .space-between{
	justify-content: space-between;
  }
  .spacer20{
	height: 40px;
  }
  .plus-ico{
	background-color: #444;
	width: 30px;
	height: 30px;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
  }
  .invoice-detail-body table {
	font-size: 12px;
  }
  .invoice-detail-body table tr th{
	text-transform: uppercase;
  }
  .form-footer .btn{
  font-size: 12px;
  }
  
  #logo {
	width: 200px;
	height: 80px;
	justify-content: center;
	align-items: center;
	border: 1px solid #000;
	display: flex;
	float: right;
	border-radius: 3px;
	  text-align: right;
	  /* float: right;
	  position: relative; */
	  /* margin-top: 25px; */
	  /* border: 1px solid #000; */
	  /* max-width: 540px;
	  max-height: 100px; */
	  overflow: hidden
  }
  
  #logo:hover,
  #logo.edit {
	  border: 1px solid #000;
	  margin-top: 0;
	  max-height: 125px
  }
  
  #logoctr {
	  display: none
  }
  
  #logo:hover #logoctr,
  #logo.edit #logoctr {
	  display: block;
	  text-align: right;
	  line-height: 25px;
	  background: #eee;
	  padding: 0 5px
  }
  
  #logohelp {
	  text-align: left;
	  display: none;
	  font-style: italic;
	  padding: 10px 5px
  }
  
  #logohelp input {
	  margin-bottom: 5px
  }
  
  .edit #logohelp {
	  display: block
  }
  
  .edit #save-logo,
  .edit #cancel-logo {
	  display: inline
  }
  
  .edit #image,
  #save-logo,
  #cancel-logo,
  .edit #change-logo,
  .edit #delete-logo {
	  display: none
  }
  * {
	  margin: 0;
	  padding: 0
  }
  
  body {
	  font: 14px/1.4 Georgia, serif
  }
  
  #page-wrap {
	  width: 800px;
	  margin: 0 auto
  }
  
  textarea {
	  border: 0;
	  font: 14px Georgia, Serif;
	  overflow: hidden;
	  resize: none
  }
  
  table {
	  border-collapse: collapse
  }
  
  table td,
  table th {
  
	  padding: 5px
  }
  
  #header {
	  height: 15px;
	  width: 100%;
	  margin: 20px 0;
	  background: #222;
	  text-align: center;
	  color: #fff;
	  font: 700 15px Helvetica, Sans-Serif;
	  text-decoration: uppercase;
	  letter-spacing: 20px;
	  padding: 8px 0
  }
  
  #address {
	  width: 250px;
	  height: 150px;
	  float: left
  }
  
  #customer {
	  overflow: hidden
  }
  
  #logo {
	  text-align: right;
	  float: right;
	  position: relative;
	  margin-top: 25px;
	  border: 1px solid #fff;
	  max-width: 540px;
	  max-height: 100px;
	  overflow: hidden
  }
  
  #logo:hover,
  #logo.edit {
	  border: 1px solid #000;
	  margin-top: 0;
	  max-height: 125px
  }
  
  #logoctr {
	  display: none
  }
  
  #logo:hover #logoctr,
  #logo.edit #logoctr {
	  display: block;
	  text-align: right;
	  line-height: 25px;
	  background: #eee;
	  padding: 0 5px
  }
  
  #logohelp {
	  text-align: left;
	  display: none;
	  font-style: italic;
	  padding: 10px 5px
  }
  
  #logohelp input {
	  margin-bottom: 5px
  }
  
  .edit #logohelp {
	  display: block
  }
  
  .edit #save-logo,
  .edit #cancel-logo {
	  display: inline
  }
  
  .edit #image,
  #save-logo,
  #cancel-logo,
  .edit #change-logo,
  .edit #delete-logo {
	  display: none
  }
  
  #customer-title {
	  font-size: 20px;
	  font-weight: 700;
	  float: left
  }
  
  #meta {
	  margin-top: 1px;
	  width: 300px;
	  float: right
  }
  
  #meta td {
	  text-align: right
  }
  
  #meta td.meta-head {
	  text-align: left;
	  background: #eee
  }
  
  #meta td textarea {
	  width: 100%;
	  height: 20px;
	  text-align: right
  }
  
  #items {
	  clear: both;
	  width: 100%;
	  margin: 30px 0 0;
  }
  
  #items th {
	  background: #eee
  }
  
  #items textarea {
	  /* width: 80px;
	  height: 50px */
  }
  
  #items tr.item-row td {
	  border: 0;
	  vertical-align: top
  }
  
  #items td.description {
	  width: 300px
  }
  
  #items td.item-name {
	  width: 175px
  }
  
  #items td.description textarea,
  #items td.item-name textarea {
	  width: 100%
  }
  
  #items td.total-line {
	  border-right: 0;
	  text-align: right
  }
  
  #items td.total-value {
	  border-left: 0;
	  padding: 10px
  }
  
  #items td.total-value textarea {
	  height: 20px;
	  background: 0 0
  }
  
  #items td.balance {
	  background: #eee
  }
  
  #items td.blank {
	  border: 0
  }
  
  #terms {
	  text-align: center;
	  margin: 20px 0 0
  }
  
  #terms h5 {
	  text-transform: uppercase;
	  font: 13px Helvetica, Sans-Serif;
	  letter-spacing: 10px;
	  border-bottom: 1px solid #000;
	  padding: 0 0 8px;
	  margin: 0 0 8px
  }
  
  #terms textarea {
	  width: 100%;
	  text-align: center
  }
  
  textarea:hover,
  textarea:focus,
  #items td.total-value textarea:hover,
  #items td.total-value textarea:focus,
  .delete:hover {
	  background-color: #ef8
  }
  
  .delete-wpr {
	  position: relative
  }
  
  .delete {
	  display: block;
	  color: #000;
	  text-decoration: none;
	  background: #eee;
	  font-weight: 700;
	  padding: 0 3px;
	  border: 1px solid;
	  top: -6px;
	  left: -22px;
	  font-family: Verdana;
	  font-size: 12px
  }
  .dashboard-row{
	  display: flex;
		flex-direction: row;
		justify-content: space-between;

  }
  
		